@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --md-sys-color-primary: 100 85 143;
        --md-sys-color-surface-tint: 100 85 143;
        --md-sys-color-on-primary: 255 255 255;
        --md-sys-color-primary-container: 232 221 255;
        --md-sys-color-on-primary-container: 32 16 71;
        --md-sys-color-secondary: 47 98 140;
        --md-sys-color-on-secondary: 255 255 255;
        --md-sys-color-secondary-container: 206 229 255;
        --md-sys-color-on-secondary-container: 0 29 50;
        --md-sys-color-tertiary: 135 82 27;
        --md-sys-color-on-tertiary: 255 255 255;
        --md-sys-color-tertiary-container: 255 220 192;
        --md-sys-color-on-tertiary-container: 45 22 0;
        --md-sys-color-error: 186 26 26;
        --md-sys-color-on-error: 255 255 255;
        --md-sys-color-error-container: 255 218 214;
        --md-sys-color-on-error-container: 65 0 2;
        --md-sys-color-background: 253 247 255;
        --md-sys-color-on-background: 28 27 32;
        --md-sys-color-surface: 253 247 255;
        --md-sys-color-on-surface: 28 27 32;
        --md-sys-color-surface-variant: 230 224 236;
        --md-sys-color-on-surface-variant: 72 69 78;
        --md-sys-color-outline: 121 117 127;
        --md-sys-color-outline-variant: 202 196 207;
        --md-sys-color-shadow: 0 0 0;
        --md-sys-color-scrim: 0 0 0;
        --md-sys-color-inverse-surface: 50 47 53;
        --md-sys-color-inverse-on-surface: 245 239 247;
        --md-sys-color-inverse-primary: 206 189 254;
        --md-sys-color-primary-fixed: 232 221 255;
        --md-sys-color-on-primary-fixed: 32 16 71;
        --md-sys-color-primary-fixed-dim: 206 189 254;
        --md-sys-color-on-primary-fixed-variant: 76 62 118;
        --md-sys-color-secondary-fixed: 206 229 255;
        --md-sys-color-on-secondary-fixed: 0 29 50;
        --md-sys-color-secondary-fixed-dim: 155 203 251;
        --md-sys-color-on-secondary-fixed-variant: 13 74 115;
        --md-sys-color-tertiary-fixed: 255 220 192;
        --md-sys-color-on-tertiary-fixed: 45 22 0;
        --md-sys-color-tertiary-fixed-dim: 255 184 119;
        --md-sys-color-on-tertiary-fixed-variant: 107 59 3;
        --md-sys-color-surface-dim: 222 216 224;
        --md-sys-color-surface-bright: 253 247 255;
        --md-sys-color-surface-container-lowest: 255 255 255;
        --md-sys-color-surface-container-low: 248 242 250;
        --md-sys-color-surface-container: 242 236 244;
        --md-sys-color-surface-container-high: 236 230 238;
        --md-sys-color-surface-container-highest: 230 225 233;

        --extended-color-brand-purple: #6f528a;
        --extended-color-brand-on-purple: #ffffff;
        --extended-color-brand-purple-container: #f0dbff;
        --extended-color-brand-on-purple-container: #280d42;

        --extended-color-brand-orange: #8d4e2a;
        --extended-color-brand-on-orange: #ffffff;
        --extended-color-brand-orange-container: #ffdbca;
        --extended-color-brand-on-orange-container: #341100;

        --extended-color-brand-blue: #445e91;
        --extended-color-brand-on-blue: #ffffff;
        --extended-color-brand-blue-container: #d8e2ff;
        --extended-color-brand-on-blue-container: #001a42;
    }

    :root[class~="dark"] {
        --md-sys-color-primary: 206 189 254;
        --md-sys-color-surface-tint: 206 189 254;
        --md-sys-color-on-primary: 53 39 93;
        --md-sys-color-primary-container: 76 62 118;
        --md-sys-color-on-primary-container: 232 221 255;
        --md-sys-color-secondary: 155 203 251;
        --md-sys-color-on-secondary: 0 51 83;
        --md-sys-color-secondary-container: 13 74 115;
        --md-sys-color-on-secondary-container: 206 229 255;
        --md-sys-color-tertiary: 255 184 119;
        --md-sys-color-on-tertiary: 75 39 0;
        --md-sys-color-tertiary-container: 107 59 3;
        --md-sys-color-on-tertiary-container: 255 220 192;
        --md-sys-color-error: 255 180 171;
        --md-sys-color-on-error: 105 0 5;
        --md-sys-color-error-container: 147 0 10;
        --md-sys-color-on-error-container: 255 218 214;
        --md-sys-color-background: 20 19 24;
        --md-sys-color-on-background: 230 225 233;
        --md-sys-color-surface: 20 19 24;
        --md-sys-color-on-surface: 230 225 233;
        --md-sys-color-surface-variant: 72 69 78;
        --md-sys-color-on-surface-variant: 202 196 207;
        --md-sys-color-outline: 147 143 153;
        --md-sys-color-outline-variant: 72 69 78;
        --md-sys-color-shadow: 0 0 0;
        --md-sys-color-scrim: 0 0 0;
        --md-sys-color-inverse-surface: 230 225 233;
        --md-sys-color-inverse-on-surface: 50 47 53;
        --md-sys-color-inverse-primary: 100 85 143;
        --md-sys-color-primary-fixed: 232 221 255;
        --md-sys-color-on-primary-fixed: 32 16 71;
        --md-sys-color-primary-fixed-dim: 206 189 254;
        --md-sys-color-on-primary-fixed-variant: 76 62 118;
        --md-sys-color-secondary-fixed: 206 229 255;
        --md-sys-color-on-secondary-fixed: 0 29 50;
        --md-sys-color-secondary-fixed-dim: 155 203 251;
        --md-sys-color-on-secondary-fixed-variant: 13 74 115;
        --md-sys-color-tertiary-fixed: 255 220 192;
        --md-sys-color-on-tertiary-fixed: 45 22 0;
        --md-sys-color-tertiary-fixed-dim: 255 184 119;
        --md-sys-color-on-tertiary-fixed-variant: 107 59 3;
        --md-sys-color-surface-dim: 20 19 24;
        --md-sys-color-surface-bright: 59 56 62;
        --md-sys-color-surface-container-lowest: 15 13 19;
        --md-sys-color-surface-container-low: 28 27 32;
        --md-sys-color-surface-container: 33 31 36;
        --md-sys-color-surface-container-high: 43 41 47;
        --md-sys-color-surface-container-highest: 54 52 58;

        --extended-color-brand-purple: #dbb9f9;
        --extended-color-brand-on-purple: #3e2458;
        --extended-color-brand-purple-container: #563b70;
        --extended-color-brand-on-purple-container: #f0dbff;

        --extended-color-brand-orange: #ffb690;
        --extended-color-brand-on-orange: #542202;
        --extended-color-brand-orange-container: #703715;
        --extended-color-brand-on-orange-container: #ffdbca;

        --extended-color-brand-blue: #adc6ff;
        --extended-color-brand-on-blue: #112f60;
        --extended-color-brand-blue-container: #2b4678;
        --extended-color-brand-on-blue-container: #d8e2ff;
    }
}
